* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
    display: flex;
    padding: 1rem;
    background-color: rgb(220, 223, 226);
    justify-content: end;
}

#logo {
    color: rgb(42, 42, 43);
    margin-right: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.item {
    padding: 0rem 1rem;
    display: flex;
}

.products-list {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product span {
    font-style: italic;
}

footer {
    display: flex;
    padding: 0.5rem;
    background-color: rgb(220, 223, 226);
    justify-content: center;
    gap: 1rem;
}

#copyright {
    
}

footer a {
    text-decoration: none;
    color: black;
}